@charset "UTF-8";

/* 回答はここに書いてね */
.foods-record {
  width: 100%;
  table-layout: fixed;
  border: solid #dedede 1px;
  border-collapse: collapse;
  text-align: center;
}

.foods-record th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  border: solid #dedede 1px;
}

.foods-record td{
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
}

.foods-record tr:nth-child(even) {
  background-color: #ecf1f2;
}

.foods-record tbody tr:last-child {
  border-top: dashed #000 2px;
}


/* 回答はここに書いてね */
