@charset "UTF-8";

/* 回答はここに書いてね */
.foods-record {
  width: 100%;
  table-layout: fixed;
  border: solid #dedede 1px;
  text-align: center;
  border-collapse: collapse;
}

.header {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}

.header ,.foods {
  border: solid #dedede 1px;

}

.one-day:nth-child(odd) {
  background-color: #ecf1f2;
}

.foods {
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  /* border-right: solid #dedede 1px; */
  /* border-bottom: solid #dedede 1px; */
}

.total-calorie {
  border-top: dashed #000 2px;
}

.calorie {
  border-right: solid #dedede 1px;
  padding: 10px;
}


/* 回答はここに書いてね */
